### Week 3 Capstone (Part 1 and 2 Separated)

### PART 1

In [15]:
#Import Library
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np

print("Import complete!")

#Import Data

wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

source_code = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source_code.content, 'html.parser')
table = soup.find_all('table')       
raw_data = pd.read_html(str(table))

# Transform into Dataframe

data = np.array(raw_data)
df = pd.DataFrame(data[0])

# Naming Columns
df.columns = ['Postcode', 'Borough', 'Neighbourhood']

# Remove the top row
df = df.iloc[1:]


# Remove the top row
df = df[df.Borough != 'Not assigned']
df = df[df.Neighbourhood != 'Not assigned']

df.shape

# df

Import complete!

(211, 3)

## PART 2

In [8]:
import pandas as pd

In [16]:
# import geocoder

### Importing from CSV

In [11]:
lat_long = pd.read_csv("Geospatial_Coordinates.csv")
lat_long.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

### Joining the data Sets (df and CSV FILE)

In [17]:
df_lat_long = pd.merge(left = df, right= lat_long, left_on='Postcode', right_on='Postal Code')

df_lat_long = df_lat_long[["Postcode", "Borough", "Neighbourhood", "Latitude", "Longitude"]]

df_lat_long.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763